@font-face{
    font-family: 'JetBrains Mono';
    src: local('Iosevka Curly Medium'),
         url('https://raw.githubusercontent.com/liangjingkanji/liangjingkanji/master/font/iosevka-curly/iosevka-curly-medium.woff2') format('woff2');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'JetBrains Mono';
    src: local('Iosevka Curly Bold'),
         url('https://raw.githubusercontent.com/liangjingkanji/liangjingkanji/master/font/iosevka-curly/iosevka-curly-bold.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'HYZhengYuan';
    src: local('HYYouYuan-55W'),
         url('https://raw.githubusercontent.com/liangjingkanji/liangjingkanji/master/font/HYYouYuan/HYYouYuan-55W.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'HYZhengYuan';
    src: local('HYYouYuan-75W'),
         url('https://raw.githubusercontent.com/liangjingkanji/liangjingkanji/master/font/HYYouYuan/HYYouYuan-75W.ttf') format('truetype');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}