@font-face {
    font-family: 'Iosevka';
    src: local('Iosevka Medium'),
         url('https://raw.githubusercontent.com/liangjingkanji/liangjingkanji/master/font/iosevka/iosevka-medium.woff2') format('woff2');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Iosevka';
    src: local('Iosevka-bold'),
         url('https://raw.githubusercontent.com/liangjingkanji/liangjingkanji/master/font/iosevka/iosevka-medium.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'HYZhengYuan';
    src: local('HYZhengYuan'),
         url('https://raw.githubusercontent.com/liangjingkanji/liangjingkanji/master/font/HYZhengYuan.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'HYZhengYuan';
    src: local('HYZhengYuan-75W'),
         url('https://raw.githubusercontent.com/liangjingkanji/liangjingkanji/master/font/HYZhengYuan.ttf') format('truetype');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}