@font-face{
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Bold.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'HYZhengYuan';
    src: local('HYZhengYuan'),
         url('https://raw.githubusercontent.com/liangjingkanji/liangjingkanji/master/font/HYZhengYuan.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'HYZhengYuan';
    src: local('HYZhengYuan-75W'),
         url('https://raw.githubusercontent.com/liangjingkanji/liangjingkanji/master/font/HYZhengYuan-75W.ttf') format('truetype');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}